/*main*/
hr {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

img{
  max-width:100%;
}
#portfolio,header{
  background-color: #CAD4FF;
  color:black; 
}
section{
  padding-top:25px;
  padding-bottom:25px;
}
/*nav*/

nav{
  background-color:black;
}
/*header*/
#profilePic{
  width:240px;
  height:320px;
}
header {
  text-align:center;
  padding:6rem 0 2.5rem;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1.25rem;
}
h2{
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
/*contact form*/
button{
  background-color:black;
  color:white;
}
label{
  color:black;
}
/*footer*/
footer a {
  color: white;
  font-size: 2rem;
  margin-right: 1rem;
}

