.index {
  background: linear-gradient(#FFEF38, #B2033F, #04A3CC);
}
.projects {
  background: linear-gradient(#80FFC6, #800FC6, #80FF18);
}
.contact {
  background: linear-gradient(#30CCAE, #709991, #55FF7F);
  color: white;
}
/*.carousel {
  height: 800px;
  padding:0px;
  margin:0px;
}*/
/*#summary {
  display: block;
  margin-left: auto;
  margin-right: auto
}*/
.about {
  color: white;
}
.project{
  color: white;
  font-size:20px
}
header {
  text-align: center;
  background-size: cover;
  color: white;
}
footer {
  text-align: center;
  background-size: cover;
  color: #0ff;
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
.anchor {
  display: inline;
  padding: 0px 10px 0px 10px;
}
#index {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
#anna {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
.menu{
  color: white;
}
.description {
  color:white;
}
